<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gerador de Resultado da Megasena</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body style="background-color: green; font-family: Arial, sans-serif;">

<div class="container" style="text-align: center; margin: 50px; padding: 20px; background-color: white; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.2);">

    <h1>Gerador de Resultado da Megasena</h1>

    <form method="post" action="{% url 'mega' %}">
        <button type="button" id="gerar" style="background-color: #007BFF; color: white; padding: 10px 20px; border: none; cursor: pointer;">Gerar Números</button>
    </form>

    <div id="resultado" style="display: none; margin-top: 20px;">
        <p style="font-weight: bold;">Esta é a lista:</p>
        <ul id="numeros" style="list-style: none; padding: 0;">
            {% for numero in lista %}
                <li style="background-color: #007BFF; color: white; padding: 5px; margin: 5px; display: inline-block; border-radius: 5px;">{{ numero }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    document.getElementById('gerar').addEventListener('click', function() {
        var resultadoDiv = document.getElementById('resultado');

        // Gerar números aleatórios e exibi-los horizontalmente
        var numeros = [];
        for (var i = 0; i < 6; i++) {
            numeros.push(Math.floor(Math.random() * 60) + 1);
        }
        document.getElementById('numeros').innerHTML = numeros.join(' - ');

        // Exibir a div de resultado
        resultadoDiv.style.display = 'block';
    });
</script>


</body>
</html>
