/* styles.css */
body {
    background-color: green;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #007BFF;
}

form {
    text-align: center;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    display: none;
    margin-top: 20px;
}

p {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #007BFF;
    color: white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    text-align: center; /* Centralizar horizontalmente */
    line-height: 40px;  /* Ajuste o valor para centralizar verticalmente */
}
