/* Estilize o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
}

/* Estilo para o cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 24px;
}

/* Estilo para o formulário */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos de entrada */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para o botão de envio */
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Estilo para a exibição dos números */
#numbers {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}